

<section class="container">
  <h2 class="text-center">Available letters</h2>

  <ul class="list-inline">
    <% @letters.each do |letter| %>
      <li class="list-inline-item btn btn-primary"><%= letter %></li>
    <% end %>

  </ul>

  <form action="/score" method="post" class="form-group">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :start, @start %>
    <%= hidden_field_tag :letters, @letters %>

    <label>What is the longest word you can find?</label>
    <div class="d-flex">
      <input type="text" name="word" placeholder="Longest word" class="form-control">
      <input type="submit" value="Submit" class="btn btn-success">
    </div>
  </form>
</section>
